body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.chat-list {
  padding: 0;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}
.chat-list li {
  margin: 16px 0;
  list-style-type: none;
}
.chat-list .name {
  color: #006aee;
  font-size: 1.4em;
  font-weight: bold;
}
.chat-list .mssg {
  font-size: 1.2em;
  margin-top: 4px;
}

.chat-form {
  display: flex;
  justify-content: center;
}
.message-input {
  padding: 16px;
  font-size: 1.3em;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.send-button {
  font-size: 1.3em;
  padding: 16px;
  background: #006aee;
  color: white;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.chatroom {
  width: 100%;
  height: 600px;

}